{% extends "covidHtml/base.html" %}
{% block content %}


    <h1>map page!</h1>
<!DOCTYPE html>
<html>
<head>

    <link href="https://coronavirus-92ebd.web.app/assets/css/styles.css?v=86" rel="stylesheet" >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <title></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""> </script>
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" type="image/x-icon" href="https://image.flaticon.com/icons/svg/2785/2785819.svg" />
   <style>
    #mapid { height: 520px;
   margin-top:200
   }
   .leaflet-popup-content-wrapper{background: transparent;   box-shadow: 0 0px 0px rgba(0,0,0,0.0); }
</style>
</head>
<body>

  <!-- Make sure you put this AFTER Leaflet's CSS -->

    <div id="mapid">   </div>
	<script>var mymap = L.map('mapid').setView([33.8869, 9.5375], 5);
	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 5,    minZoom: 2.5,

    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoicnlkZXIwNSIsImEiOiJja2R1ZXlmeWszZWY4MzByb2Yxbm52OHlrIn0.lOE-eNO5Bf1PWN63oNjUew'
}).addTo(mymap);
</script>
<script>
   /*
    var circle = L.circle([33.8869, 9.5375], {
        color: 'red',
        fillColor: '#f03',
        fillOpacity: 0.2,
        radius: 50000
    }).addTo(mymap);

var popup2 = L.popup({offset: L.point(15,15)}).setContent('<div class="map-tooltip Tooltip main-map"><img src="https://disease.sh/assets/img/flags/tn.png"><div class="map-tooltip-title"><div>United Arab Emirates</div></div><div class="map-tooltip-new">+55</div><div class="map-tooltip-line infected"><span>63,819</span><span>Total cases</span></div><div class="map-tooltip-line recovered"><span>57,473</span><span>Recoveries</span></div><div class="map-tooltip-line dead"><span>359</span><span>Deaths</span></div></div>');
	circle.bindPopup(popup2);
	circle.on("mouseclick", function(evt) { this.openPopup(); });
	//circle.on("mouseout", function(evt) { this.closePopup(); });
    */
function Get(yourUrl){
    var Httpreq = new XMLHttpRequest(); // a new request
    Httpreq.open("GET",yourUrl,false);
    Httpreq.send(null);
    return Httpreq.responseText;
}
//var json_obj = JSON.parse(Get('https://corona.lmao.ninja/v2/countries'));
var json_obj = JSON.parse(Get('https://disease.sh/v3/covid-19/countries?yesterday=true&allowNull=false'));


function DrawCircle()
{
for (var i = 0; i < json_obj.length; i++) {
    let lat=json_obj[i]["countryInfo"]["lat"];
    let long=json_obj[i]["countryInfo"]["long"];
    let flag_url=json_obj[i]["countryInfo"]["flag"];
    let cases=json_obj[i]["cases"]
    let iso =json_obj[i]["countryInfo"]["iso3"];
    let country=json_obj[i]["country"];
    let todayCases=json_obj[i]["todayCases"];
    let Recoveries=json_obj[i]["recovered"];
        let Deaths=json_obj[i]["deaths"]

    console.log(todayCases);
    if (cases>1000000){
        cases=cases;
    }
    else if(cases<1000000 && cases>500000){
        radius=cases/1;
    }
     else if(cases<500000 && cases>100000){
        radius=cases;
    }
    else if(cases<100000 && cases>50000){
        radius=cases;
    }
    else if(cases<50000 && cases>25000)
    {
        radius=cases*5;
    }
    else if(cases<25000 && cases>10000)
    {
        radius=cases*8;
    }
    else if(cases<10000){
        radius=cases*25;
    }
    else if(cases<5000)
    {
        radius=cases*100;
    }
    else if(cases<1000)
    {
        radius=cases*100000;
    }
    var circle = L.circle([lat, long], {
        color: 'red',
        fillColor: '#f03',
        fillOpacity: 0.2,
        radius: radius,
    }).addTo(mymap);
    var popup2 = L.popup({offset: L.point(15,15)}).setContent('<div class="map-tooltip Tooltip main-map"><img src='+flag_url+'><div class="map-tooltip-title"><div>'+country+'</div></div><div class="map-tooltip-new">+'+ todayCases +'</div><div class="map-tooltip-line infected"><span>'+cases+'</span><span>Total cases</span></div><div class="map-tooltip-line recovered"><span>'+Recoveries+'</span><span>Recoveries</span></div><div class="map-tooltip-line dead"><span>'+Deaths+'</span><span>Deaths</span></div></div>');
	circle.bindPopup(popup2);
	circle.on("mouseclick", function(evt) { this.openPopup(); });
}}
DrawCircle();
 </script>
</div>

   </body>
</html>
{% endblock content %}