{% extends "covidHtml/base.html" %}
{% block content %}
    <style>
        .total {
            border: 3px solid lightslategrey;
            border-radius: 2px;
            padding: 20px;
            margin-left: 20%;
            margin-right: 20%;
            font-size: 30px;
            text-align: center;
            margin-top: 2%;
            border-radius: 12px;

        }

        .num {
            color: indianred;

        }
    </style>


    <div class="total">
        <p>
        <h1>Coronavirus Cases</h1>
        <p class="num">{{ totalCases }}</p>

    </div>
    <div class="total">
        <p>
        <h1>Total Deaths</h1>
        <p class="num">{{ totalDeath }}</p>

    </div>
    <div class="total">
        <p>
        <h1>Total Recovered</h1>
        <p class="num">{{ totalRecov }}</p>

    </div>





{% endblock content %}
