{% extends "covidHtml/base.html" %}
{% load static %}
{% block content %}


    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>



    <link rel="stylesheet" href="{% static  'css/statistics.css' %}">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


    <div class="countryNav">
        <!-- countryName here -->
        {{ countryName|safe }}

    </div>

    <!-- Chart for each country selected here: -->
    <div class="generalChart">
        <canvas id="myChart"></canvas>
    </div>

    <div id="styled">


    </div>

    <script>
        var dayNumbers = {{ DatesNumber|safe }};
        //stats
        var cases = {{ cases|safe }};
        var recov = {{ recov |safe }};
        var deaths = {{ deaths | safe }};
        //
        var dates = {{ dates | safe }};
        var countryName = "{{ countryName|safe }}";
    </script>
    <script src="{% static 'js/statistics.js' %}"></script>




{% endblock content %}