{% extends "covidHtml/base.html" %}
{% block content %}

    <style>
        .nav {
            border: 3px solid lightslategrey;
            padding: 16px;
            margin-left: 20%;
            margin-right: 20%;
            font-size: 30px;
            text-align: center;
            margin-top: 2%;
            border-radius: 12px;


        }

        .countrySearch {
            width: 400px;
            height: 40px;
            border: 1px black solid;
            border-radius: 4px;
            transition: width 0.25s ease-in;
        }

        .countrySearch:focus {
            width: 600px;
        }


        .labelSearch {
            font-size: 20px;
            color: indianred;

        }

        .searchButton {
            color: black;
            margin-left: 10px;

        }

        .searchButton:hover {
            color: indianred;
        }

        #abs {
            position: absolute;
        }


        /* ==========================   Dropdown search menu ============================ */

        .dropdown {
            position: relative;
            display: inline-block;

        }


        .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            min-width: 600px;
            max-height: 78%;
            overflow: auto;
            border: 1px solid black;
            z-index: 1;
            margin-left: 210px;
            margin-top: 2px;
            border-radius: 4px;
            text-align: left;
            min-height: 0%;
        }

        .dropdown-content a {
            color: black;
            padding: 2px 4px;
            margin-left: 2px;
            text-decoration: none;
            display: block;
            transition: background-color 0.1s ease-in;
        }

        .dropdown-content a:hover {
            background-color: #D3D3D3;
        }

        .show {
            display: block;
        }

        .generalChart {
            width: 60%;
            margin-left: 19.4%;
            margin-top: 2%;
            margin-bottom: 4%;
        }

        /* ================================================ */
    </style>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>




    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <div class="nav">

        <label class="labelSearch">
            Choose a valid country:
            <input id="searchbox" type="text" class="countrySearch" placeholder="Country.."

                   onfocus="return onSearchBoxClick()"
                   oninput="return onInputWord()"
                   onblur="return exitInputBox()"
            />
            <div id="myDropdown" class="dropdown-content">
                <!-- injected from javascript -->

            </div>

        </label>


        <a class="searchButton" href="#">
            <i class="fas fa-search"></i>
        </a>


    </div>

    <!-- Chart for each country selected here: -->
    <div class="generalChart">
        <canvas id="myChart"></canvas>
    </div>




    <script>

        var searchBox = document.getElementById("searchbox")
        var c = document.getElementById("myDropdown");
        //search on click choice ====================================================


        //============================================================================
        var countryList = {{countryList|safe}};
        shown = false;

        function onInputWord() {
            c.style.display = "block";

            //clearing html
            c.innerHTML = "";

            //modifying c innerHTML
            for (i = 0; i < countryList.length; i++) {
                var s = countryList[i];
                if (s.toLowerCase().startsWith(searchBox.value.toLowerCase())) {
                    c.innerHTML += `<a href='#' name="${s}"
                        onclick="choiceFunc(name)">${s}</a>`;
                }

            }

            if (!shown) {
                document.getElementById("myDropdown").classList.toggle("show");
                shown = true;
            }
        }


        function onSearchBoxClick() {
            if (searchBox.value.toString().length != 0) {
                c.style.display = "block";
            } else {
                c.style.display = "none";
            }

            //clearing html
            c.innerHTML = "";
            searchBox = document.getElementById("searchbox")

            //modifying c innerHTML
            for (i = 0; i < countryList.length; i++) {
                var s = countryList[i];
                if (s.toLowerCase().startsWith(searchBox.value.toLowerCase()) &&
                    searchBox.value != "") {
                    c.innerHTML += `<a href='#' name="${s}"
                        onclick="choiceFunc(name)">${s}</a>`;
                }


            }

            if (!shown) {
                document.getElementById("myDropdown").classList.toggle("show");
                shown = true;
            }
        }

        function exitInputBox() {

            return false;
        }

        function choiceFunc(countryName) {
            searchBox.value = countryName;
            //modifying css
            c.innerHTML = "";
            c.style.display = "none";
            //TODO database
            graphShowcase(countryName);

            return false;
        }

        var allData = {{ dataset|safe }};


        function lookForCountry(allData, string) {
            for (var i = 0; i < allData.length; i++) {
                if (allData[i][0][1] == string) {
                    displayChart(allData[i]);
                    return;
                }
            }

        }


        function displayChart(countryData) {
            ///////////// get dates /////////////////////////////////////
            dateArray = new Array();
            for (var i = 0; i < countryData.length; i++) {
                dateArray.push(countryData[i][0]);
            }
            dateArray.reverse();

            //////////// get stats //////////////////////
            statArray = new Array();
            for (var i = 0; i < countryData.length; i++) {
                statArray.push(countryData[i][2]);
            }
            statArray.reverse();

        }


        function removeChart() {
            var ctx = document.getElementById('myChart').getContext('2d');
            ctx.clearRect(0, 0,
                document.getElementById('myChart').width,
                document.getElementById('myChart').height);
        }

        var myChart;

        function graphShowcase(string) {
            lookForCountry(allData, string);
            var ctx = document.getElementById('myChart').getContext('2d');
            if (myChart != undefined) {
                myChart.destroy();
            }
            myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: dateArray,
                    datasets: [{
                        label: 'Coronavirus Dashboard for the last '
                            + {{ DatesNumber|safe }} +' days',
                        data: statArray,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(255, 99, 132, 0.2)',

                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(255, 99, 132, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: false
                            }
                        }]
                    }
                }
            });
        }


    </script>


{% endblock content %}