{% extends "covidHtml/base.html" %}
{% load static %}
{% block content %}


    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>



    <link rel="stylesheet" href="{% static  'css/statistics.css' %}">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <div class="nav">

        <label class="labelSearch">
            Choose a valid country:
            <input id="searchbox" type="text" class="countrySearch" placeholder="Country.."

                   onfocus="return onSearchBoxClick()"
                   oninput="return onInputWord()"
                   onblur="return exitInputBox()"
            />
            <div id="myDropdown" class="dropdown-content">
                <!-- injected from javascript -->

            </div>

        </label>


        <div class="searchButton">
            <i class="fas fa-search"></i>
        </div>


    </div>

    <!-- Chart for each country selected here: -->
    <div class="generalChart">
        <canvas id="myChart"></canvas>
    </div>

    <div id="styled">


    </div>

    <script>
        var countryList = {{ countryList|safe }};
        var allData = {{ dataset|safe }};
        var dates = {{ DatesNumber | safe }};
    </script>
    <script src="{% static 'js/statistics.js' %}"></script>




{% endblock content %}