
.countryNav {
    border: 3px solid lightslategrey;
    padding: 16px;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 36px;
    margin-top: 2%;
    border-radius: 12px;

    text-align: center;
    color: indianred;

}

.a {
    color: indianred;
}

.c {
    color: grey;
}

#styled {
    border: 3px solid lightslategrey;
    padding: 16px;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 30px;
    text-align: center;
    border-radius: 12px;
}

.generalChart {
    width: 60%;
    margin-left: 19.4%;
    margin-top: 1%;
    margin-bottom: 1%;
}

